In [2]:
import pandas as pd
import pickle as pkl
import time
import regex as re
from collections import Counter
import numpy as np
import matplotlib.pylab as plt
from qwikidata.entity import WikidataItem, WikidataLexeme, WikidataProperty
from qwikidata.linked_data_interface import get_entity_dict_from_api

ModuleNotFoundError: No module named 'qwikidata'

# Read file

In [ ]:
authors = pd.read_csv("data/final_authors_after_properties_and_decoding.csv", low_memory=False, index_col=0).fillna("")

In [ ]:
authors[["birthyear", "deathyear"]]

# Keep date

In [61]:
for index, row in authors[["birthyear", "deathyear"]].iterrows():
    b = row.birthyear
    d = row.deathyear
    if b!="":
        bs = b.split(", ")
        b_entry = bs[0]
        new_b = b_entry[:5]
        authors.at[index, "birthyear"] = new_b
        
    if d!="":
        ds = d.split(", ")
        d_entry = ds[0]
        new_d = d_entry[:5]
        authors.at[index, "deathyear"] = new_d

In [62]:
authors[["birthyear", "deathyear"]]

       birthyear deathyear
index
2          +1937     +2017
4          +1936     +2020
7          +1948
9          +1940
10         +1952
...          ...       ...
269257     +1927     +2005
269260     +1951
269264     +1931     +2014
269267     +1947
269270

[39642 rows x 2 columns]

# DONE

In [67]:
authors.to_csv("data/final_authors_after_properties_and_decoding_and_years.csv")