In [1]:
from viapy.api import ViafAPI, ViafEntity, SRUResult, SRUItem
import pandas as pd
import pickle as pkl
import time

In [10]:
books = pd.read_csv("data/items_books_after_viaf_and_filling_and_merging_and_more_viaf.csv", low_memory = False, index_col=0).fillna("")

In [11]:
len(books[books.viaf_id!=""])

256570

In [12]:
len(books)

269274

In [13]:
books_without_ISBN_results = books.loc[books.correct_author==""]
authors_with_viaf = books_without_ISBN_results[["author","alt_first_author","viaf_id"]].loc[books.viaf_id!=""]

In [14]:
len(authors_with_viaf)

13963

In [15]:
authors_with_viaf

,author,alt_first_author,viaf_id
index,,,
22,Amy Tan,Katrina Kenison,110768273
25,Amy Tan,,110768273
63,Robert Cowley,Stephen E. Ambrose,39496832
64,Scott Turow,,106980468
86,Scott Turow,Mystery Writers of America,106980468
...,...,...,...
269181,Michael Gorman,,108143046
269191,"Lisa &amp; Frankel, Eric Merkin",Lisa Merkin,21097785
269214,Jakob Lenz,Jakob Michael Reinhold Lenz,90638588
269221,Craig Blacklock,Partners Book Distributing,52979798
269245,Trula Magruder,American Girl,170750937

In [16]:
books_without_ISBN_results = books_without_ISBN_results.drop("viaf_id", axis=1)

In [17]:
books_without_ISBN_results_and_with_viaf = pd.merge(books_without_ISBN_results.reset_index(), authors_with_viaf, on=["author","alt_first_author"]).set_index("index")

In [18]:
len(books_without_ISBN_results_and_with_viaf)

19768

In [21]:
authors_with_viaf

,author,alt_first_author,viaf_id
index,,,
22,Amy Tan,Katrina Kenison,110768273
25,Amy Tan,,110768273
63,Robert Cowley,Stephen E. Ambrose,39496832
64,Scott Turow,,106980468
86,Scott Turow,Mystery Writers of America,106980468
...,...,...,...
269181,Michael Gorman,,108143046
269191,"Lisa &amp; Frankel, Eric Merkin",Lisa Merkin,21097785
269214,Jakob Lenz,Jakob Michael Reinhold Lenz,90638588
269221,Craig Blacklock,Partners Book Distributing,52979798
269245,Trula Magruder,American Girl,170750937

In [22]:
books_without_ISBN_results_and_with_viaf

,ISBN,title,author,alt_title,alt_author,correct_author,alt_first_author,viaf_id
index,,,,,,,,
22,039592684X,The Best American Short Stories 1999 (Best Ame...,Amy Tan,The Best American Short Stories 1999,Katrina Kenison,,Katrina Kenison,110768273
25,1931056323,The Bonesetter's Daughter,Amy Tan,,,,,110768273
39,0399141154,Hundred Secret Senses Limited Ed.,Amy Tan,,,,,110768273
40,1590400356,The Kitchen God's Wife,Amy Tan,,,,,110768273
41,1931056331,The Bonesetter's Daughter,Amy Tan,,,,,110768273
...,...,...,...,...,...,...,...,...
269181,0838934854,Anglo-American Cataloguing Rules,Michael Gorman,Anglo-American Cataloguing Rules,,,,108143046
269191,0380894920,Trivial Conquest: The Smart Reference Source f...,"Lisa &amp; Frankel, Eric Merkin",Trivial Conquest,Lisa Merkin|Eric Frankel,,Lisa Merkin,21097785
269214,3150013763,Der Hofmeister,Jakob Lenz,Der Hofmeister oder Vorteile der Privaterziehung,Jakob Michael Reinhold Lenz|Karl Siegfried Guthke,,Jakob Michael Reinhold Lenz,90638588
269221,189247204X,Border Country: Photographs from the Quentico-...,Craig Blacklock,Great Lakes and Midwest Catalog,Partners Book Distributing,,Partners Book Distributing,52979798
269245,1584857447,True Stories: Girls' Inspiring Stories of Cour...,Trula Magruder,True Stories,American Girl,,American Girl,170750937

With Main

In [23]:
books.loc[books_without_ISBN_results_and_with_viaf.index] = books_without_ISBN_results_and_with_viaf

In [24]:
len(books[books.viaf_id!=""])

262375

In [304]:
books.to_csv("data/final_result.csv")

In [25]:
books

,ISBN,title,author,alt_title,alt_author,correct_author,alt_first_author,viaf_id
index,,,,,,,,
0,0195153448,Classical Mythology,Mark P. O. Morford,Classical Mythology,Mark P. O. Morford|Robert J. Lenardon,Mark P. O. Morford,Mark P. O. Morford,92220559
1,0801319536,Classical Mythology,Mark P. O. Morford,Classical Mythology,Mark P. O. Morford|Robert J. Lenardon,Mark P. O. Morford,Mark P. O. Morford,92220559
2,0002005018,Clara Callan,Richard Bruce Wright,Clara Callan,Richard Bruce Wright,Richard Bruce Wright,Richard Bruce Wright,64022406
3,0771597185,The teacher's daughter,Richard Bruce Wright,The Teacher's Daughter,Richard Bruce Wright,Richard Bruce Wright,Richard Bruce Wright,64022406
4,0060973129,Decision in Normandy,Carlo D'Este,Decision in Normandy,Carlo D'Este,Carlo D'Este,Carlo D'Este,97755576
...,...,...,...,...,...,...,...,...
269269,0762412119,"Burpee Gardening Cyclopedia: A Concise, Up to ...",Allan Armitage,Burpee Gardening Cyclopedia,Maureen Heffernan|Holly H. Shimizu|Allan Armit...,Allan Armitage,Maureen Heffernan,61645853
269270,1582380805,Tropical Rainforests: 230 Species in Full Colo...,"Allen M., Ph.D. Young",Tropical Rainforests,Allen M. Young,Allen M. Young,Allen M. Young,25946864
269271,1845170423,Cocktail Classics,David Biggs,Cocktail Classics,David Biggs,David Biggs,David Biggs,121661213
269272,0525447644,From One to One Hundred,Teri Sloat,From One to One Hundred,Teri Sloat,Teri Sloat,Teri Sloat,40945135
269273,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,A Guided Tour of RenÃ© Descartes' Meditations o...,Christopher Biffle|Ronald Rubin,Christopher Biffle,Christopher Biffle,235785708