In [19]:
import pandas as pd

## Goodreads10k

In [3]:
location = 'data/goodbooks-10k/'

In [6]:
g10k_ratings = pd.read_csv(location+'ratings.csv')

In [7]:
g10k_ratings.rating.unique()

array([5, 4, 3, 2, 1])

In [10]:
g10k_ratings.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [8]:
g10k_books = pd.read_csv(location+'books.csv')

In [11]:
g10k_books.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [16]:
len(g10k_ratings.book_id.unique())

10000

In [17]:
len(g10k_ratings.user_id.unique())

53424

In [18]:
len(g10k_ratings)

5976479

## DBC

In [22]:
location = 'data/hack4dk2017/'

In [28]:
loans = pd.read_csv(location+'udlaan.csv.gz', compression='gzip')

In [31]:
len(loans)

238609626

In [34]:
loans.head()

,laaner_id,biblioteks_id,materiale_id,koen,foedselsaar,dato
0,0,782000,870970-basis:27889107,k,1973-01-01,2015-03-04
1,0,782000,870970-basis:27873251,k,1973-01-01,2015-03-04
2,0,782000,870970-basis:28489595,k,1973-01-01,2015-03-04
3,0,782000,870970-basis:51267699,k,1973-01-01,2015-03-04
4,0,782000,870970-basis:51267699,k,1973-01-01,2015-03-04

In [75]:
unique_users = loans.user.unique()
unique_items = loans.item_processed.unique()
num_users = len(unique_users)
num_items = len(unique_items)

In [60]:
num_users, num_items

(1650073, 607885)

In [36]:
loans.columns = ['user','library','item', 'gender', 'birthyear', 'date']

In [72]:
loans['item_processed'] = loans['item'].str.split(':').str[-1]

In [73]:
loans.head()

,user,library,item,gender,birthyear,date,item_processed
0,0,782000,870970-basis:27889107,k,1973-01-01,2015-03-04,27889107
1,0,782000,870970-basis:27873251,k,1973-01-01,2015-03-04,27873251
2,0,782000,870970-basis:28489595,k,1973-01-01,2015-03-04,28489595
3,0,782000,870970-basis:51267699,k,1973-01-01,2015-03-04,51267699
4,0,782000,870970-basis:51267699,k,1973-01-01,2015-03-04,51267699

In [41]:
books = pd.read_csv(location+'materialer.csv.gz', compression='gzip', low_memory=False)

In [42]:
len(books)

9182830

In [66]:
books.head()

,item,language,creatir,subject,title,type
0,125030-katalog:000000001,NaN,Fredensborg Big Band,NaN,Koncert i Copenhagen Jazz House den 1.4.1995. ...,music
1,125030-katalog:000000002,NaN,Klüvers Big Band,NaN,Koncert i Copenhagen Jazz House den 27.1.1995....,music
2,125030-katalog:000000003,NaN,Frederik Lundin,NaN,Koncert i Copenhagen Jazz House den 26.1.1995,music
3,125030-katalog:000000004,NaN,Horace Parlan,NaN,Koncert i Copenhagen Jazz House den 29.4.1995,music
4,125030-katalog:000000005,NaN,Thomas Metcalf,NaN,Koncert i Copenhagen Jazz House den 16.3.1995 ...,music

In [45]:
books.columns = ['item','language','creatir', 'subject', 'title', 'type']

In [70]:
books['item_processed'] = books['item'].str.split(':').str[-1]

In [71]:
books.head()

,item,language,creatir,subject,title,type,item_processed
0,125030-katalog:000000001,NaN,Fredensborg Big Band,NaN,Koncert i Copenhagen Jazz House den 1.4.1995. ...,music,000000001
1,125030-katalog:000000002,NaN,Klüvers Big Band,NaN,Koncert i Copenhagen Jazz House den 27.1.1995....,music,000000002
2,125030-katalog:000000003,NaN,Frederik Lundin,NaN,Koncert i Copenhagen Jazz House den 26.1.1995,music,000000003
3,125030-katalog:000000004,NaN,Horace Parlan,NaN,Koncert i Copenhagen Jazz House den 29.4.1995,music,000000004
4,125030-katalog:000000005,NaN,Thomas Metcalf,NaN,Koncert i Copenhagen Jazz House den 16.3.1995 ...,music,000000005

In [74]:
book_indexed_books = books.set_index('item_processed', drop=True)

In [78]:
book_indexed_books

,item,language,creatir,subject,title,type
item_processed,,,,,,
000000001,125030-katalog:000000001,NaN,Fredensborg Big Band,NaN,Koncert i Copenhagen Jazz House den 1.4.1995. ...,music
000000002,125030-katalog:000000002,NaN,Klüvers Big Band,NaN,Koncert i Copenhagen Jazz House den 27.1.1995....,music
000000003,125030-katalog:000000003,NaN,Frederik Lundin,NaN,Koncert i Copenhagen Jazz House den 26.1.1995,music
000000004,125030-katalog:000000004,NaN,Horace Parlan,NaN,Koncert i Copenhagen Jazz House den 29.4.1995,music
000000005,125030-katalog:000000005,NaN,Thomas Metcalf,NaN,Koncert i Copenhagen Jazz House den 16.3.1995 ...,music
...,...,...,...,...,...,...
110146841,875950-katalog:110146841,Dansk,NaN,"[ ""Kristne Kirker og Sekter"", ""28.205"" ]",Nordisk Ugeblad for katholske Kristne. Et Tids...,book
110146868,875950-katalog:110146868,Latin,J. Winckelmann,"[ ""Protestantiske Symboler"", ""K212 (Skab)"" ]",Augustanæ confessionis articuli illustrati,book
110146884,875950-katalog:110146884,Flere sprog,Max Heimbucher,"[ ""27.9"", ""Kristne munke- og nonneordener i al...",Die Orden und Kongregationen der katholischen ...,book
110146892,875950-katalog:110146892,Engelsk,NaN,"[ ""26.6"", ""Kirkelige Foreninger"", ""Kirkelige f...",The British and Foreign Bible Society (Udg.) A...,book
110146906,875950-katalog:110146906,Dansk,Bastholm C.,"[ ""K253"", ""Forslag og Stridsskrifter med Hensy...",Liturgiske Forslag og Stridsskrifter. 1. Samling,book

In [76]:
unique_items[0]

'27889107'

In [77]:
book_indexed_books[unique_items[0]]

KeyError: '27889107'