In [1]:
import time
from qwikidata.sparql  import return_sparql_query_results
from qwikidata.linked_data_interface import get_entity_dict_from_api
import pandas as pd
import numpy as np
import pickle as pkl
from collections import Counter
import urllib.request
import json
import string
from difflib import SequenceMatcher
from viapy.api import ViafAPI
import re
import math
import matplotlib.pyplot as plt
from scipy.signal import find_peaks

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
location_to_save = "data/final_files/"
large_location_to_save = "data/final_files/large_files/"

In [3]:
entire_books = pd.read_csv(location_to_save+"items_books_with_readable_properties.csv", low_memory=False, index_col=0).fillna("")

In [4]:
unique_authors = entire_books[["QID", "viaf_id"]].drop_duplicates()

In [46]:
unique_authors.loc[:219000]

               QID    viaf_id
0                    92220559
1         Q7323887   64022406
2         Q2939184   97755576
3         Q1524875  111861625
4         Q5363702   91244635
...            ...        ...
218979              317107887
218990  Q105912972   58095023
218995    Q6166776   35885496
218997   Q22670670   96333994
219000               25993945

[68542 rows x 2 columns]

In [59]:
with open('ISBN_dict.pkl', 'rb') as handle:
        large_ISBN_dict = pkl.load(handle)

In [60]:
len(large_ISBN_dict.keys())

271360

In [61]:
len(np.unique(list(large_ISBN_dict.keys())))

271360

In [62]:
len(np.unique(list(large_ISBN_dict.values())))

220266

In [45]:
len(entire_books)

271360